@font-face{
	src: url(slkscr.ttf);
	font-family: pac;
}
@font-face{
	src: url(VT323-Regular.ttf);
	font-family: pac1;
}


body {
	margin: 0;
	padding: 0;
background-color:black;
color: white;
}

.slidershow{
   width: 900px;
   height: 500px;
   margin-top: 70%;
   overflow: hidden;
}

.middle{
   position: absolute;
   top: 50%;
   left: 30%;
   transform: translate(-50%,-50%);
}

.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

}

.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin-left: 6px;
	cursor: pointer;
	transition: 0.5s;
}

.bar:hover{
	background: #fff;
}
input[name="r"]{
	position: absolute;
	visibility: hidden;

}
.slidershow slide a{
	color: white;
	font-size: 14px;
	font-family: pac1;
}
.slidershow slide p{
	color: white;
	font-size: 30px;
	font-family: pac1;
}
slider {
display: block;
width: 60%;
height: 70%;
margin-top: 70px;
background-color: #1f1f1f;
overflow: hidden;
position: absolute;
}
slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
}
slide:nth-child(1) {
	left: 0%;
	animation-delay: -1s;
	background-image: url(3.jpg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(2) {
	left: 0%;
	animation-delay: 2s;
	background-size: cover;
	background-position: center;
}
slide:nth-child(3) {
	animation-delay: 5s;
	background-image: url(2.jpg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(4) {
	left: 0%;
	animation-delay: 8s;
	background-image: url(1.jpg);
	background-size: cover;
	background-position: center;
}
slide p{
	font-family: pac1;
	font-size: 30px;
	text-align: left;
	display: inline-block;
	margin-top: 390px;
	width: 100%;
	color: #fff;

}
slide img{
	position: absolute;
	width: 100%;
	height: 100%;
}
@keyframes slide {
	0% { left: 100%; width: 100%; }
	5% { left: 0%; }
	25% { left: 0%; }
	30% { left: -100%; width: 100%; }
	30.0001% { left: -100%; width: 0%; }
	100% {left: 100%; width: 0%;}
}
.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:row;
	flex-wrap: wrap;
	background-color: #000000; 
	width: 100%;
	height: 70px;
	z-index: 1;

}
.nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 2%;
}
.logo{
     flex: 1 1 auto;
     margin-left: 2%;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: bold;
     font-size: 50px;
     font-family: pac;
}

a{
	margin: 15px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-family: pac1;
	font-size: 30px;
	
}

.box{
	position: absolute;
	top: 16%;
	border-radius: 25px;
	border: 2px solid #fff;
	padding: 20px;
	width: 450px;
	height: 460px;
	
	text-align: center;
	margin-top: 70%;
	margin-left: 65%;
	color: #fff;
	

}
.box .box1{
	margin-top: -20px;
	font-family: pac1;
	font-size: 30px;
}

.container {
	position: absolute;
	top: 70;
	
}
.centre{
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	font-family: pac1;
	color: white;
	top: 30%;
	left: 80%;
	transform: translate(-50%,-50%);
	color: white;
}
.hover{
	position: absolute;
	width: 1200px;
	min-height: 500px;
	background: ;
	margin: 70px auto 0;
	margin-top: 45%;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
}
.hover .square{
	position: relative;
	width: 300px;
	height: 300px;
	background: #D3D3D3;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	font-family: pac1;
}

.hover .square .imgbox{
	position: relative;
	overflow: hidden;
}

.hover .square .imgbox img{
	max-width: 100%;
	transition: transform 2s;
}

.hover .square:hover .imgbox img{
	transform: scale(1.2);
}

.hover .square .details{
	position: absolute;
	top: 80px;
	left: 10px;
	bottom: -40px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}

.hover .square:hover .details{
transform: scaleY(1);
}

.hover .square .details .content{
	position: absolute;
	font-size: 20px;
	top: 30%;
	margin-left: 20px;
	margin-top: 35px;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #FFFFFF;
}

.hyper{
	position: absolute;
	top: 5%;
	transform: translate(0%,0%);
	color: white;
	font-size: 10px;
	font-family: pac1;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #555555;
  border: none;
  color: #000000;
  text-align: left;
  font-size: 18px;
  padding: 14px 40px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
th{
	font-size: 60px;
	padding: 50px;
	width: 30%;
	
}
.money table{
	margin-top: 8%;
	font-family: pac1;
	color: white;
	font-size: 30px;
}
.money table td{
	font-size: 25px;
	padding: 50px;
	width: 20%;
}